html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    padding-top: 56px;
}

.parallax {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}